<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

<div class="form-inputs">
    <%= f.input :title, :label=>"제목", :input_html=>{:class=>"input-block-level"} %>
    <%= f.input :contents, :label=>"내용", :input_html=>{:class=>"input-block-level"} %>

  </div>

    <%= f.button :submit, "등록하기" %>
<% end %>