<h1> 이모작진흥소<br/><small>"아빠는 커서 뭐가 될꺼에요?"</small></h1>
<h4> 최근글</h4>
<ul class="media-list">
  <% @posts.each do |post| %>
  <li class="media">
    <a class="pull-left" href='<%=board_post_path(post.board, post)%>'>
      <img class="media-object" src='<%= post.image.thumb.url ? post.image.thumb.url : "/thumb_placeholder.png" %>' width="70px"></a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to post.title, board_post_path(post.board, post) %> <small><%= "#{post.board.title} / #{post.user.name} / #{post.created_at.strftime("%Y-%m-%d %H:%M")}" %></small></h4>
      <%= truncate post.summary, :length=>300  %>
     </div>
  </li>
  <%end%>
</ul>
<hr/>
<h4>최신댓글</h4>
<ul>
	<% @comments.each do |comment| %>
	<li><%= link_to truncate(comment.contents, :length=>100), comment %> ( <%= "#{comment.user.name} / #{comment.created_at.strftime("%Y-%m-%d %H:%M")}" %> )
	</li>
	<%end%>
	</ul>