<div class="row-fluid">
<div class="span10 offset1" style="margin-top:30px">
<div class="page-header">
  <h1>몸빵캐피탈<br/><small>당신에게 필요한 것은 몇 푼의 돈이 아니라,<br/>당신의 이야기를 눈물 흘리며 들어줄 따뜻한 개발자입니다.</small></h1>
</div>
<h3>기존의 벤쳐캐피탈과 뭐가 다른가요? </h3>
	<p>
	벤쳐캐피탈은 개발을 위한 자본을 투자하지만, 저희는 한 몸뚱아리를 투자하여 당신 사업의 성공을 돕습니다. 벤쳐캐피탈은 개발팀의 역량이나 아이템, 시장성을 보지만, 저흰 CEO의 얼굴을 봅니다. 관상에 모든것을 이야기해 줍니다. 
	</p><br/>
	
<h3>몸빵캐피탈에서는 뭘 해주나요?</h3>
	<p>
	이야기를 들어줍니다.<br/>
	외주 개발사에 이런 저런 요구사항을 주면 이상한 외계어를 써가며 추가 일정과 비용을 요구받았던 경험이 있으신가요? 저희는 그냥 미소를 지으며 당신의 이야기를 끝까지 들어 줄 수 있습니다. 쓸데없이 "당산의 요구사항은 세마포어 뮤텍스가 어씽크하게 쓰레드를 돌리다 쌈싸먹는" 이유로 거부하지 않습니다. 
	</p>
	<br/>
<h3>개발자인데요 저도 캐피탈리스트로 참여하고 싶습니다.</h3>
	<p>
	현명한 선택입니다. 이제까지 을로만 지내던 당신은 이제 '갑'이 되신 것입니다. 거들먹거리며 원하는 비즈니스에 손을 들어주고 코드를 던져주세요. 당신은 이제 SI 외주 업체가 아니라, VC의 투자자니까요. 수시 모집중입니다. 
	</p>
	<br/>
<h3>몸빵투자외 다른 프로그램이나 서비스도 있나요?</h3>
	<p>
	몸빵투자외에 세상에서 가장 훌륭한 <strong style="color:#0080FF;">CTO 대행서비스</strong>도 가능합니다.  <strong style="color:#0080FF;">CTO 대행서비스</strong>는 월 정해진 금액과 일정 지분을 비용으로 다양한 서비스를 제공해줍니다. 단순한 서비스 개발뿐 아니라, 경영팀의 개발 능력 내재화, 지속적인 유지보수, 서비스 운영 관리, 어느 수준 이상이 됐을때 인하우스 개발자 채용을 위한 인터뷰 대행 및 하산서비스, 제안서에도 다양한 캐리어의 원하는 CTO 첨부 지원 등 이제까지 당신이 꿈꿔왔던 인자한 CTO를 월 $1,500 에 만나볼 수 있는 서비스 입니다. 
	</p>
	<table class="table table-bordered">
		<thead>
		<tr class="info" align="center"><th width="34%" style="text-align:center">Free Tier<br/>$0 a month</th><th width="33%" style="text-align:center">Business Tier<br/>$1,500 a month</th><th style="text-align:center">Enterprise Tier<br/>$100,000 a month(엄청비쌈)</th></tr>
		</thead>
		<tbody>
		<tr>
			<td><ul>
				<li>아무때나 만들고 싶을 때 만듬</li>
				<li>어려운건 안함. 못함</li> 
				<li>남는 서버가 있으면 운용도 해줄지도..</li>
				<li>엄청 말도 많고 게으름</li>
			</ul></td>
			<td>
				<ul>
					<li>서비스 운용 (호스팅)</li>
					<li>지속 유지보수</li> 
					<li>CTO 개인정보 활용 가능</li>
					<li>내부개발자 고용시 인터뷰 대행</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>마소처럼 부려도 됨</li>
					<li>코딩외 발마사지, 요리, 청소 가능</li> 
					<li>영업, 마케팅 모두 가능</li>
					<li>육아 지원</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
				<a href="#apply1" role="button" class="btn btn-primary" data-toggle="modal">신청하기</a>
			</td>
			<td style="text-align:center">
				<a href="#apply2" role="button" class="btn btn-primary" data-toggle="modal">신청하기</a>
			</td>
			<td style="text-align:center">
				<a href="#apply3" role="button" class="btn btn-primary" data-toggle="modal">신청하기</a>
			</td>
		</tr>
		</tbody>
	</table>


 
<!-- Modal -->
<div id="apply1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Free Tire 신청하기</h3>
  </div>
  <%= simple_form_for Contact.new do |f| %>
  <div class="modal-body">
    <%= f.input :name, :label=>"이름" %>
    <%= f.input :email, :label=>"이메일" %>
    <%= f.input :contact_type, :as => :hidden, :input_html => { :value => "mombang_apply" } %>
    <%= f.input :body, :label=>"신청이유", :input_html => { :rows => 7 } %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.button :submit, "신청하기", :class=>"btn btn-primary" %>
  </div>
  <%end%>
</div>

<div id="apply2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Business Tire 신청하기</h3>
  </div>
  <div class="modal-body">
  	<h4>준비중입니다 </h4>
  	죄송합니다.<br/> 아직은 책임지지 못합니다.
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="apply3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Enterprise Tire 신청하기</h3>
  </div>
  <div class="modal-body">
  	<h4>앗 </h4>
  	당신은 이런 서비스를 신청할 만큼, 충분한 부자가 아니군요!<br/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

</div>
</div>