<center><h2>회원정보 수정</h2></center>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :label=>"이메일", :required => true, :autofocus => true %>
    <%= f.input :name,:label=>"이름", :required => true %>
    <div class="pull-right">
    <button type="button" class="btn btn-inverse" data-toggle="collapse" data-target="#password">비밀번호 변경</button></div>
<div id="password" class="collapse">
    <%= f.input :current_password, :label=>"현재비밀번호"%>
    <%= f.input :password, :label=>"새로운비밀번호", :autocomplete => "off", :required => false %>
    <%= f.input :password_confirmation, :label=>"새로운비밀번호확인", :required => false %>
  </div>
    
    
  </div>
  <center>
    <%= f.button :submit, "수정하기", :class=>"btn btn-primary" %>
   </center>
  
<% end %>

<%= link_to "탈퇴하기", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
