<%= simple_form_for(@board) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :board_type %>
  </div>

  
    <%= f.button :submit %>
  
<% end %>
