<%= simple_form_for [@board, @post], defaults: { input_html: { :multipart=>true } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :label=>"제목", :input_html=>{:class=>"input-block-level"} %>
    <%= f.input :contents, :label=>"내용", :input_html=>{:class=>"input-block-level"} %>
    <%= image_tag(@post.image_url) if @post.image? %>
    <%= f.file_field :image %>
    <%= f.check_box :remove_image, :label=>"이미지삭제" %>
    <%= f.input :published, :label=>"공개하기" %>

  </div>

    <%= f.button :submit, "등록하기" %>
<% end %>
