<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title><%= content_for?(:title) ? yield(:title) : "개신 - 개발은신속히" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="/favicon.png" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body style="padding-top:0px !important;">

    <div class="navbar-wrapper">
	   <div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
        <div class="container">
				<a href="/" class='brand'><img src="/favicon.png">&nbsp;&nbsp;<b>개신</b><small>- 개발은 신속히</small></a>
				<ul class="nav pull-right" style="text-align:middle;padding-top:10px;">
					<% if user_signed_in? %>
	  				<li><%= link_to('로그아웃', destroy_user_session_path, :method => :delete) %></li>
	  				<li><%= link_to(current_user.name, edit_user_registration_path) %></li>
	  				<% if current_user.admin? %>
	  				<li><%= link_to "Admin", "#" %></li>
	  				<% end %>
					<% else %>
          <!--
		  				<li><a href="/users/auth/facebook"><img src="/facebook_20.png" width="20"></a></li>
		  				<li> <%= link_to('로그인', new_user_session_path)  %></li>
		  				<li> <%= link_to('회원가입', new_user_registration_path)  %> </li>
            -->
          <% end %>
	  		</ul>
		</div>
		</div>
	</div>
</div>
		<div class="navbar-wrapper">
    <div style="margin-top:55px;" class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">							
				<ul class="nav">
					<li><%= link_to "그림한장".html_safe, '#'  %></li>
					<li><%= link_to "수박겉핥기", '#'  %></li>
					<li><%= link_to "당일치기", '#'  %></li>
					<li><%= link_to "부끄러운질문", '#'  %></li>
				</ul>
			<ul class="nav pull-right">
				<li><%= link_to "몸빵캐피탈", mombang_path,:id=>"specialnav" %></li>
				<li><%= link_to "개신?",    about_path %></li>
 			</ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" style="margin-top:100px;">
      <% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		  <% end %>
      <div class="row-fluid">
        	<% if user_signed_in? %>
        	<div class="span3">
              <div class="well sidebar-nav">
                <h3>Sidebar</h3>
                <ul class="nav nav-list">
                  <li class="nav-header">Sidebar</li>
                  <li><%= link_to "Link1", "/path1"  %></li>
                  <li><%= link_to "Link2", "/path2"  %></li>
                  <li><%= link_to "Link3", "/path3"  %></li>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->
           
           <div class="span9"> 
           <%else%> 
           <div class="span12">
           <%end%>
           	   <%= yield %>
            </div>
            
        </div><!--/row-->
		<%= render 'layouts/footer' %>
		<!--
      <footer>
        <p>&copy; Company 2012</p>
      </footer>-->

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
